<%- include("header") -%>

    <section class="sec1">
      <div class="dashboardPage">

        <div class="">
          <h4>Hello <%= userName%></h4>
          <p>You have <%= noOfCalls%> calls left

          <a class="aCBtn" href="/dashboard/add-credit">
            <button type="button" class="btn btn-success" name="button">Add More</button>
          </a>

          </p>
          <p>
            Your API Key: <%= apiKey%>
            <button class="copyBtn" onclick="CopyMe('<%= apiKey%>')"><i class="fa-solid fa-copy"></i></button>
          </p>
        </div>

        <div class="">
          <h4>Update Mail details</h4>

          <form class="" action="/dashboard/updateMailDetails" method="post">

              <div class="form-group">
                <label for="senderName">Sender Name:</label>
                <input type="text" class="form-control" name="senderName" placeholder="Set Sender name" value="<%= mailDetails.senderName%>">
              </div>
              <div class="form-group">
                <label for="sub">Mail Subject:</label>
                <input type="text" class="form-control" name="sub" placeholder="Set Mail Subject" value="<%= mailDetails.mailSubject%>">
              </div>
              <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" name="message" rows="3" cols="40" placeholder="Any personalize message you want to add to the mail"><%= mailDetails.message%></textarea>
              </div>

              <button type="submit" class="btn btn-success">Update</button>


          </form>
        </div>

      </div>
    </section>

    <script type="text/javascript" src="/script/index.js"></script>
  </body>
</html>
